.container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.item {
    height: 100px;
    margin: 2%;
    display: flex;
    align-items: center;
}

.logo {   
    color: white;
    -webkit-text-stroke: 2px #3F776A;
}

input {
    border-color: #529374;
    border-radius: 5px;
    
}

input.search {
    width: 600px;
    height: 30px;
}

button {
    border: none;
    color: #ffffff;
    border-radius: 5px;
    background-color: #529374;
    height: 30px;
    margin-right: 5px;
}

.main {
    text-align: center;
    background-color: #ffffff;
}

.main-title {
    position: absolute;
    margin-left: -27%;
}

.main-categories-1 {
    position: absolute;
    margin-left: 10%;
}

.main-categories-2 {
    position: absolute;
    margin-left: 14%;
    padding-right: 21px;
    padding-left: 21px;
}

.main-categories-3 {
    position: absolute;
    margin-left: 18%;
    padding-right: 14px;
    padding-left: 15px;
}

.card {
    width: 325px;
    margin-bottom: 20px;
    margin-left: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
}

.card img {
    width: 85%;
    height: 185px;
    margin: 20px;
    border-radius: 5%;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.card-content p {
    margin-bottom: 5px;
}

.categories {
    text-align: center;
}
  
.category {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    width: 200px; /* Ширина каждой категории */
}
  
.category img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
  
footer {
    background-color: #f9f9f9;
    padding: 30px 0;
}
  
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
  
.footer-section {
    width: 20%;
}
  
.footer-bottom {
    text-align: center;
    margin-top: 40px;
}

/* _________________________РЕГИСТРАЦИЯ_________________________ */

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.login-signup-container {
    display: flex;
    justify-items: center;
    font-family: Arial;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    z-index: 1;

}

#signup-form {
    position: absolute;
    margin-left: 38%;
    width: 300px;
    height: 300px;
    top: -20%;
    opacity: 0;
    transition: all .5s;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 12px 12px 2px 1px rgba(65, 120, 110, .3);

}

#login-form {
    position: absolute;
    margin-left: 38%;
    width: 300px;
    height: 250px;
    top: -20%;
    opacity: 0;
    transition: all .5s;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 12px 12px 2px 1px rgba(65, 120, 110, .3);


}

input {  
    padding: 8px;
    margin: 5px;
}


a {
    color: #3F776A;
    text-decoration: none;
}

#privacyPolicy {
    cursor: pointer;
}